<h1>Companion Discovery Page</h1>
{{!-- 
TODO:implement the companion discovery page
Waiting: how to get route coordinates from DB
 --}}

{{#if hasMatchedUsers}}
  <ul>
    {{#each matchedUsers}}
    <div class="companion-div">
      <li class="companion">
        <a href="/personal/{{this.userName}}">
        <img src="{{this.profilePic}}" alt="Profile Picture" class="profile-pic">
        <h2>{{this.userName}}</h2>
        </a>
        <p>About me: <br>{{this.bio}}</p>
        <p>Contact me at: {{this.email}}</p>
        <p>We could be about {{this.distance}}km close during {{this.startDate}} to {{this.endDate}}</p>
      </li>
    </div>
    {{/each}}
  </ul>
{{else}}
  <p>Sorry, it looks like no one have over-lapping plans as yours.</p>
  <p>Try later or create more plans for future to find out!</p>
{{/if}}