<h2>Edit Your Route or Plan</h2>
<div class="create-route-container">
  {{!-- <div class="map-container">
    <!-- This div would contain the Mapbox map -->
    <p style="text-align: center; padding-top: 200px;">Mapbox Map would be embedded here</p>
  </div> --}}
  <div class="route-form">
    <form name="editPost" id="editPost">
      <div class="form-group">
        <label for="postTitle">Post Title</label>
        <input type="text" id="postTitle" name="postTitle"
        value="{{post.title}}"
         required>
      </div>
      <div class="form-group">
        <label for="postDescription">Brief Description</label>
        <textarea id="postDescription" name="postDescription" rows="3" 
        placeholder="(Up to 100 characters) Enter a brief description of your route/plan"
        required>{{post.intro}}</textarea>
      </div>
      <div class="form-group">
        <label for="postContent">Post Content</label>
        <textarea id="postContent" name="postContent" rows="10" 
        placeholder="(Up to 10000 characters) Tell us more about what your route/plan entails..."
         required>{{post.content.description}}</textarea>
      </div>
      <div class="form-group">
        {{#if routeId}}
        <p>This post has a map route</p>
        <a href="/route/{{post._id}}">Edit/Delete it here</a>
        {{else}}
        <p>This post does not have a map route</p>
        <a href="/route/new/{{post._id}}">Create a map route here</a>
        {{/if}}
      </div>

      <div class="form-group">
        <label for="postPictures">Pictures(up to 5):<br>
        Only JPEG, JPG, and PNG files are allowed.</label>
        <input type="file" name="postPictures" id="postPictures" accept="image/jpeg, image/png" multiple>
        {{#if post.content.images}}
        <p>Click on a previous image to delete it from post:</p>
          <div class="edit-thumbnail-container" id="edit-thumbnail-container">
            {{#each post.content.images}}
              <img src="{{this}}" class="edit-thumbnail" 
              id="thumbnail{{@index}}" name="img{{@index}}" alt="Post Image {{@index}}">
            {{/each}}
          </div>
        {{/if}}
      </div>
      <div class="form-group">
        <p>If it is somewhere you plan to visit, choose "Plan"<br>
        If it is somewhere you have visited or only hypothetical, choose "Route"
        </p>
        <label for="postType">Plan/Route</label>
        <select id="postType" name="postType">
          <option value="plan" {{#if post.isPlan}}selected{{/if}}>Plan</option>
          <option value="route" {{#unless post.isPlan}}selected{{/unless}}>Route</option>
        </select>
      </div>
      <div class="form-group" id = "start-div">
        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" name="startDate" value="{{startDate}}" required>
      </div>
      <div class="form-group" id = "end-div">
        <label for="endDate">End Date</label>
        <input type="date" id="endDate" name="endDate" value="{{endDate}}" required>
      </div>
      <div class= "form-group" id = "errorDiv" hidden>
        <h4>Submission Errors:</h4>
        {{!-- Frontend validation error --}}
      </div>
      <button type="submit" class="btn" name="submitBTN" id="submitBTN" >Create Route</button>
    </form>
  </div>
</div>

<script src="/js/editPost.js"></script>